{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }}</h1>
        <div class="post-meta">
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年01月02日" }}</time>
            {{ if .Params.author }} | 作者: {{ .Params.author }}{{ end }}
            {{ if .Params.categories }} | 分类: {{ delimit .Params.categories ", " }}{{ end }}
            {{ if .Params.tags }} | 标签: {{ delimit .Params.tags ", " }}{{ end }}
        </div>
    </header>
    
    <div class="content">
        {{ .Content }}
    </div>
</article>

{{ if .PrevInSection }}
<p>上一篇: <a href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }}</a></p>
{{ end }}

{{ if .NextInSection }}
<p>下一篇: <a href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title }}</a></p>
{{ end }}
{{ end }}
